<div class="login-container">
  <div class="login-form">
    <h1 class="login-header">Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="usernameOrEmail">Usuario</label>
        <input type="text" id="usernameOrEmail" formControlName="userName" placeholder="Enter your username or email">
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" formControlName="password" placeholder="Enter your password">
      </div>

      <button type="submit" class="btn-login" >Iniciar Sesión</button>
    </form>

    <div class="forgot-password">
      <button type="button" (click)="recuperarPassword()">¿Has olvidado tu contraseña?</button>
    </div>
  </div>
</div>



