<div class="login-container">
  <div class="login-form">
    <h1 class="login-header">Recuperar Contraseña</h1>
    <p class="login-description">Ingresa tu correo electrónico o nombre de usuario para recuperar tu contraseña.</p>

    <form>
      <div class="form-group">
        <input type="text" id="username" class="login-input" name="username" [(ngModel)]="usuario.userName" placeholder="Correo electrónico o nombre de usuario">
      </div>
      <button type="button" class="btn-recover" (click)="recuperar()">Recuperar Contraseña</button>
    </form>

    <div class="form-footer">
      <button type="button" class="btn-login" (click)="Longin()">Regresar</button>
    </div>
  </div>
</div>



