<div class="container">
  <h1>{{ (userData.idUsuario) ? 'Editar Usuario' : 'Nuevo Usuario' }}</h1>
  <form (ngSubmit)="Guardar()" class="form">
  
    <div class="form-group">
      <label for="userName">Nombre de Usuario:</label>
      <input type="text" id="userName" class="form-control" [(ngModel)]="userData.userName" name="userName" required>
    </div>
  
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" class="form-control" [(ngModel)]="userData.password" name="password" required>
    </div>
  
    <div class="form-group">
      <label for="personaId">Persona:</label>
  
      <select [disabled]=" (userData.idUsuario) ? true : false" id="idPersona" class="form-control"  name="idPersona" [(ngModel)]="userData.persona.idPersona" class="form-select">
        <option *ngFor="let persona of listaPersona" [value]="persona.idPersona">{{persona.nombres}}</option>
      </select>
    
    </div>
  
    <div class="form-group">
      <label for="status">Estado:</label>
      <select id="status" class="form-control" [(ngModel)]="userData.status" name="status" required>
        <option value="A">Activo</option>
        <option value="I">Inactivo</option>
      </select>
    </div>
  

 
    <div class="form-group">
      <label for="rolId">Rol:</label>
      <select  id="idRol" class="form-control"  name="rolId" [(ngModel)]="userData.roles[0].idRol" class="form-select">
        <option *ngFor="let l of rol" [ngValue]="l.id">{{l.nombre}}</option>
      </select>
    </div>
  
    <div class="button-group">
      <button type="button" class="btn btn-danger" (click)="salir()">Cancelar</button>
      <button type="submit" class="btn btn-primary">{{ (userData.idUsuario) ? 'Actualizar' : 'Crear' }}</button>
    
    </div>
  </form>
</div>

